<main class="main">
	<div class="container-narrow">
		<div class="line-container">
	        <div class="line-container__thick-line"></div>
	        <div class="line-container__thin-line"></div>
	    </div>
		<div class="about-section">

			<h2 class="heading-primary"><span class="heading-primary__text">Наша історія</span></h2>

			<p class="base-text">У 1928 році, італієць за походженням та кондитер Климент Цукато започаткував  пекарню – кондитерську Zukato’s у Львові, зі своїм братом Тео. З початку свого заснування кондитерська стала відомою завдяки своєму фірмовому ромовому торту і традиційним італійським тістечкам.</p>
			
			<div class="about-section__image-wrapper">
				<img src="../../../images/about page/celement_zukato.jpg" alt="Clement Zukatto photo">
				<div class="about-section__image-caption">Клемент Цукато зі своїм <br/> братом Тео</div>	
			</div>

			<div class="line-container">
		        <div class="line-container__thin-line"></div>
		    </div>

			<p class="base-text">У 1937 році племінники Генрі і Оресте Барацотто приєдналися до сімейного бізнесу. Так як бізнес продовжував зростати кондитерська Zukato’s вийшла на гуртовий ринок, оскільки до цього це було маленьке сімейне підприємство. Під час Другої світової війни, Клемент і Тео пекли хліб та солодощі для клієнтів, із інгредієнтів замовників.</p>

			<div class="about-section__image-wrapper">
				<img src="../../../images/about page/henri_barazoto.jpg" alt="Henri Barazoto photo">
				<div class="about-section__image-caption">Справа племінник Клемента Цукато - <br/> Генрі Барацотто</div>	
			</div>

			<div class="line-container">
		        <div class="line-container__thin-line"></div>
		    </div>

		    <p class="base-text">У 1945 році родини Клемента і Тео були змушені закрити власну справу через утиски з боку радянської влади і повернулась на батьківщину в Італію. Клемент створив власну школу кондитерського мистецтва.</p>
			

			<p class="base-text">У 2006 році правнук Клемента Серджіо Цукато вирішив відновити справу прадіда і відкрив власну кондитерську Zukato’s у Львові на вул. Вірменській 12. На даний час кондитерська Zukato’s займає лідируючу позицію у місті Львові, серед її клієнтів відомі в регіоні готелі, ресторани і нічні клуби. </p>

			<div class="about-section__image-wrapper">
				<img src="../../../images/about page/sergio_zukato.jpg" alt="Sergio Zukatto photo">
				<div class="about-section__image-caption">Правнук Клемента Цукато - <br/>Серджіо Цукато</div>	
			</div>

			<div class="line-container">
		        <div class="line-container__thin-line"></div>
		    </div>
		</div>
	    	
		
	</div> <!-- container-narrow end -->    
</main> <!-- end main -->