<main class="main">
	<div class="container-narrow">
		<div class="line-container">
	        <div class="line-container__thick-line"></div>
	        <div class="line-container__thin-line"></div>
	    </div>
		<div class="welcome-section">
			<div class="welcome-info">
				<div class="welcome-info__header">
					<h2 class="heading-primary"><span class="heading-primary__text">Ласкаво просимо!</span></h2>
				</div>
					<p class="welcome-info__text">Ласкаво просимо до кондитерської Zukatos, де задоволення від їжі є такими ж важливими для нас речами як наша багата історія та пристрасть до кулінарії. Зарошуємо Вас відвідати наше затишне кафе, де іновації та вишуканий смак є нашою візитною картою.</p>
					<p class="welcome-info__text">Ми займаємо провідну позицію у місті Львові, серед наших клієнтів відомі в регіоні готелі, ресторани та нічні клуби.</p>
			</div>
			
			<div class="line-container">
		        <div class="line-container__thin-line"></div>
		    </div>

	    	<div class="welcome-info-subsections clearfix">
	    		<div class="welcome-info-pastries-subsection">
	    			<div class="welcome-info-pastries-subsection__img">
	    				<a href="#/menu"><img src="../../../images/main page/pastries1.jpg" alt="pastries"></a>
	    			</div>
		    			
		    			<h4  class="welcome-info-pastries-subsection__header">Солодощі</h4>
		    			<p class="welcome-info-pastries-subsection__text">Перегляньте наш вибір
						фірмових десертів, випічки, тортів та печива.
						</p>		    			
		    	</div>	
		    	<div class="welcome-info-cafe-subsection">
	    			<div class="welcome-info-cafe-subsection__img">
	    				<a href="#/cafe"><img src="../../../images/main page/cafe1.jpg" alt="pastries"></a>
	    			</div>
		    			
		    			<h4  class="welcome-info-cafe-subsection__header">Кафе</h4>
		    			<p class="welcome-info-cafe-subsection__text">Наше кафе пропонує широкий вибір супів, сала-тів,	сендвічів та напоїв.
						</p>		    			
		    	</div>

		    	<div class="welcome-info-order-subsection">
	    			<div class="welcome-info-order-subsection__img">
	    				<a href="#/order"><img src="../../../images/main page/order1.jpg" alt="pastries"></a>
	    			</div>
		    			
		    			<h4  class="welcome-info-order-subsection__header">Замовлення</h4>
		    			<p class="welcome-info-order-subsection__text">Створіть весілля вашої мрії
						з вишуканими солодо-щами від Zukatos.
						</p>		    			
		    	</div>	
	    	</div>
		
			<div class="line-container">
		        <div class="line-container__thick-line"></div>
		        <div class="line-container__thin-line"></div>
		    </div>
		</div>	<!-- end welcome-section -->	

		    <div class="gallery-section">
		    	<div class="gallery-section__header">
					<h2 class="heading-primary"><span class="heading-primary__text">Галерея</span></h2>
				</div>

				<div class="gallery">
					<div class="gallery__prev-btn"></div>
					
					<div class="gallery__images"><img src="../../../images/main page/gallery/foto_lg1.jpg" alt="" class="gallery__item"><img src="../../../images/main page/gallery/foto_lg2.jpg" alt="" class="gallery__item"><img src="../../../images/main page/gallery/foto_lg3.jpg" alt="" class="gallery__item"><img src="../../../images/main page/gallery/foto_lg4.jpg" alt="" class="gallery__item"><img src="../../../images/main page/gallery/foto_lg5.jpg" alt="" class="gallery__item"><img src="../../../images/main page/gallery/foto_lg6.jpg" alt="" class="gallery__item"></div>

					<div class="gallery__next-btn"></div>

					<div class="modal-window" id="modal">
						<div class="modal-window__wrapper">
							<span class="modal-window__close"></span>
					    	<div class="modal-window__image-wrapper"></div>
						</div>
					</div>
				</div>

				<div class="line-container">
			        <div class="line-container__thin-line"></div>
			    </div>				
		    </div>
		
	</div> <!-- container-narrow end -->    
</main> <!-- end main -->