<!-- <div class="container">
	<header>
		<nav >
		   <div class="container-fluid">
		        <div>
		            <a ng-link="['Main']">Zukatos</a>
		        </div>
		        <ul>
		            <li>
		                <a ng-link="['Main']">Main</a>
		            </li>
		            <li>
		                <a ng-link="['About']">About</a>
		            </li> 
		            <li>
		                <a ng-link="['Caffee']">Caffee</a>
		            </li> 
		            <li>
		                <a ng-link="['Menu']">Menu</a>
		            </li> 
		            <li>
		                <a ng-link="['Order']">Order</a>
		            </li> 
		            <li>
		                <a ng-link="['Contacts']">Contacts</a>
		            </li>
		        </ul>
		    </div>
		</nav>
	</header>

	<main>
		<ng-outlet></ng-outlet>		   
	</main>
		
	<footer>	
		<div>footer goes here</div>
	</footer>
</div>



 -->